.info {
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 90px 15px 30px 15px;
  border-bottom: 2px solid #bababa5c
  }

  .info-center {
    margin: 0 auto;
    text-align: center;

  }

  .info-text {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    color: #808080;
    margin-bottom: 35px;
  }

  

  .info-image{
    height: 200px;
    width: 700px;
  }

  .info-image2{
    height: 200px;
    width: 350px;
  }

  .text2{
    padding: 2px 0;
    display: inline-block;
  }

  .info-h3{

    color: #dea057;
    margin-top: 40px;
    margin-bottom: 12px;
  
  }

  .info::before {
    content: ' ';
    position: absolute;
    bottom:50px ;
    left: 0;
    width: 499px;
    height: 390px;
    background: url('./assets/correo2.png'); 
    
  }


  @media only screen and (max-width: 1024px) {
    .info::before {
    content: ' ';
    position: absolute;
    bottom:0 ;
    left: 0;
    width: 250px;
    height: 250px;
    background: url('./assets/corre-mini1.png');
    
    }
  }
  






